---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';

import MainLayout from './MainLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<MainLayout>
		<main class="w-full max-w-4xl mx-auto px-4 py-12 grow">
			<article>
				<div class="mb-10">
					{heroImage &&
						<Image
							width={1020}
							height={510}
							src={heroImage}
							alt=""
							class="rounded-2xl shadow-2xl shadow-neutral-950/50 w-full object-cover aspect-video"
						/>}
				</div>

				<div class="text-center mb-12 border-b border-neutral-400 pb-8">
					<div class="text-neutral-400 mb-2 font-mono text-sm uppercase tracking-wide">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<span class="italic ml-2">
									Last updated on <FormattedDate date={updatedDate} />
								</span>
							)
						}
					</div>
					<h1 class="text-4xl md:text-5xl font-bold text-neutral-200 mb-4 leading-tight">
						{title}
					</h1>
				</div>

				<div class="prose prose-lg prose-invert mx-auto max-w-none
					prose-headings:text-neutral-200
					prose-p:text-neutral-400
					prose-a:text-red-800 prose-a:no-underline hover:prose-a:underline
					prose-img:rounded-xl">
					<slot />
				</div>
			</article>
		</main>
	</MainLayout>
</html>
